ENV=dev
SERVER_NAME=rtc
SERVER_BACKEND_BASE_URL=http://localhost:8000
FRONTEND_BASE_URL=http://localhost:3000

SERVER_PORT=8000

JWT_SECRET_KEY=
ENCRYPTION_SECRET_KEY=

DB_HOST=127.0.0.1
DB_PORT=27017
DB_NAME=
DB_USER=
DB_PASS=

SENDGRID_EMAIL=
SENDGRID_SECRET=

S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET=

RES_HALPER_DISABLE_ERR_STACK=true

AVALARA_USERNAME=
AVALARA_URL=
AVALARA_PASSWORD=
AVALARA_CLIENT_HEADER=